.product {
  background: #eaeaea;
  .productContainer {
    background: var(--white);
    width: 95%;
    margin: 1em auto;
    padding: 2em 1em;

    h3 {
      color: var(--mainColor);
    }

    h5 {
      color: var(--mainColor);
      border-top: solid 1px var(--line);
      border-bottom: solid 1px var(--line);
      padding: 1em 0;
    }
  }

  .productDeets {
    background: var(--white);
    width: 95%;
    margin: 1em auto;
    padding: 2em 1em;

    h4 {
      border-bottom: solid 1px var(--line);
      padding-bottom: 1em;
    }

    p {
      color: var(--lightGrey);
    }
  }
}
