.products {
  .globalHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background: var(--darkGreen) url('/assets/basmati_rice.jpeg') center center
      no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    padding: 2em 1.5em;

    .globalHeroTitle {
      width: 100%;
      text-align: center;
      color: var(--white);
      h2 {
        font-size: clamp(var(--fontBig), 10vw, var(--fontSuperBig));
        font-weight: 600;
      }
    }

    @media screen and (min-width: 900px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5em 2em;
    }
  }

  .hotOffers {
    margin-top: 5em;
  }
}
